## Biomasa: Caso Práctico. Repaso Final

Una empresa con actividades diversificadas tiene, entre sus áreas de negocio, el aprovechamiento de la biomasa para fines energéticos. Tiene constancia de la existencia de potencial suficiente en una determinada
zona como para ubicar en ella una central de generación eléctrica.

Tras el correspondiente trabajo de campo, se llega a la conclusión de la producción anual de diferentes tipos de residuos en un radio máximo de 25 km de la ubicación posible de la central. La distribución de estos, así como el ratio de generación de biogás de cada uno de ellos y su contenido en metano, viene reflejado en la siguiente tabla siguiente:

![Tabla repaso final](Biomasa-tabla-repasofinal-caso_practico.png)

Con los datos anteriores se pide:

1. Realizar la distribución de estos residuos a lo largo del año, suponiendo que su entrada en la planta es homogénea.
2. Cuantificar la cantidad de biogás que se generaría y el contenido en metano aproximado mensualmente (con dos dígitos).
3. Calcular la electricidad mensual y anual que se generaría suponiendo que todo el biogás es introducido en motores, los cuales tienen un rendimiento de transformación del 40 % y un funcionamiento anual de 8000 horas.
4. ¿Cuál sería la potencia a instalar, teniendo en cuenta las premisas anteriores?
5. ¿Qué cantidad de emisiones de dióxido de carbono se evitan con la electricidad generada a partir de los residuos biomásicos considerados?

### 1- Distribución de residuos

Asumiendo una alimentación hoomogénea, distribuimos la producción anual entre los doce meses del año.

In [5]:
#CANTIDADES MENSUALES DE REIDUOS (T)
RESIDUOS = {
    "P_cerdo" : 45000 / 12,
    "Maiz" : 18000 / 12,
    "Puerro" : 25000 / 12,
    "Zanah" : 12000 / 12,
    "Matader" : 10900 / 12,
    "EDAR" : 4000 / 12,
    "Grasa" : 2500 / 12,
    "Glicer" : 8000 / 12,
    "Sangre" : 4000 / 12
}
print("CANTIDAD MENSUAL DE RESIDUOS:")
for residuo in RESIDUOS:
    print("{}: {:.2f} T/mes".format(residuo, RESIDUOS[residuo]))
print("")
print("Total de residuos mensual: {:.2f} T".format(sum(RESIDUOS.values())))

CANTIDAD MENSUAL DE RESIDUOS:
P_cerdo: 3750.00 T/mes
Maiz: 1500.00 T/mes
Puerro: 2083.33 T/mes
Zanah: 1000.00 T/mes
Matader: 908.33 T/mes
EDAR: 333.33 T/mes
Grasa: 208.33 T/mes
Glicer: 666.67 T/mes
Sangre: 333.33 T/mes

Total de residuos mensual: 10783.33 T

El total mensual de cada residuo suma **10.783 toneladas** si se produce de manera uniforme.

A partir de ahora expresamos la información en una tabla Pandas.

In [12]:
#import pandas as pd

TAB_RESIDUOS = pd.DataFrame.from_dict(RESIDUOS, orient='index', columns = ["Cantidad"])
TAB_RESIDUOS.head(9)

            Cantidad
P_cerdo  3750.000000
Maiz     1500.000000
Puerro   2083.333333
Zanah    1000.000000
Matader   908.333333
EDAR      333.333333
Grasa     208.333333
Glicer    666.666667
Sangre    333.333333

### 2- Cuantificación de biogás y proporción de metano

Tenemos que calcular la cantidad de biogas generado mensualmente por cada tipo de residuo y la cantidad asociada de metano. Para esto incorporamos los datos de volumen ($m^3$) de biogas generado por cada tonelada de biomasa y la proporción asociada de gas metano.

In [13]:
# Insertamos valores de cantidad de generación de biogas (m3/T) y proporción de metano
TAB_RESIDUOS["Biogas"] = [20, 180, 80, 80, 130, 100, 130, 265, 100]
TAB_RESIDUOS["Metano"] = [.6, .59, .58, .58, .59, .65, .65, .65, .59]
TAB_RESIDUOS.head(9)

            Cantidad  Biogas  Metano
P_cerdo  3750.000000      20    0.60
Maiz     1500.000000     180    0.59
Puerro   2083.333333      80    0.58
Zanah    1000.000000      80    0.58
Matader   908.333333     130    0.59
EDAR      333.333333     100    0.65
Grasa     208.333333     130    0.65
Glicer    666.666667     265    0.65
Sangre    333.333333     100    0.59

El volumen mensual de biogas resulta del producto de la cantidad mensual de biomasa por el volumen de biogas que se genera por cada tonelada de biomasa. La cantidad de metano asociada resulta del producto del volumen de biogas recién estimado por la proporción conocida de este gas.

In [14]:
TAB_RESIDUOS["Biogas_mes"] = TAB_RESIDUOS["Cantidad"] * TAB_RESIDUOS["Biogas"]
TAB_RESIDUOS["Metano_mes"] = TAB_RESIDUOS["Biogas_mes"] * TAB_RESIDUOS["Metano"]
TAB_RESIDUOS.head(9)

            Cantidad  Biogas  Metano     Biogas_mes     Metano_mes
P_cerdo  3750.000000      20    0.60   75000.000000   45000.000000
Maiz     1500.000000     180    0.59  270000.000000  159300.000000
Puerro   2083.333333      80    0.58  166666.666667   96666.666667
Zanah    1000.000000      80    0.58   80000.000000   46400.000000
Matader   908.333333     130    0.59  118083.333333   69669.166667
EDAR      333.333333     100    0.65   33333.333333   21666.666667
Grasa     208.333333     130    0.65   27083.333333   17604.166667
Glicer    666.666667     265    0.65  176666.666667  114833.333333
Sangre    333.333333     100    0.59   33333.333333   19666.666667

In [17]:
Total_biogas_mes = sum(TAB_RESIDUOS["Biogas_mes"])
Total_metano_mes = sum(TAB_RESIDUOS["Metano_mes"])
Propor_metano_mes = Total_metano_mes / Total_biogas_mes
print("Total de biogas por mes: {:.0f} m3".format(Total_biogas_mes))
print("Total de metano por mes: {:.0f} m3".format(Total_metano_mes))
print("Proporción de metano con respecto al total de biogas: {:.2f}%".format(100*Propor_metano_mes))

Total de biogas por mes: 980167 m3
Total de metano por mes: 590807 m3
Proporción de metano con respecto al total de biogas: 60.28%

Tenemos que mensualmente se producen **980.167 m3** de biogas, de los cuales **590.807 m3** corresponden a gas metano, representando un **60,28%** del total de biogas generado.

### 3- Calculo de electricidad generada mensual y anualmente

Se nos informa que todo el biogas generado es introducido en un generador que tiene un rendimiento de transformación de 40% y que trabaja 8000 horas al año. Vamos a tomar como referencia el PCI del biogas que consideramos en prácticas previas, el cual ronda los 4.100 Kcal/m3 o 4,7651 KWh/m3.

In [21]:
Generac_mensual = Total_biogas_mes * 4.88 * 0.4
Generac_anual = Generac_mensual * 12
print("Energía eléctrica generada mensualmente: {:.2f} MWh".format(Generac_mensual/1000))
print("Energía eléctrica generada anualmente: {:.2f} MWh".format(Generac_anual/1000))

Energía eléctrica generada mensualmente: 1913.29 MWh
Energía eléctrica generada anualmente: 22959.42 MWh

### 4- Potencia a instalar

Teniendo en cuenta las premisas anteriores debemos determinar la potencia a instalar. Lo estimamos dividiendo el total de energía anual generado entre el total de horas a trabajar por parte del generador, 8.000 horas.

In [22]:
Potencia = Generac_anual / 8000 #KW
print("Potencia requerida: {:.2f} MW".format(Potencia/1000))

Potencia requerida: 2.87 MW

Necesitaríamos un generador con una potencia mínima de **2,87 MW**.

### 5- Emisiones de CO2 ahorradas

Las guías de huella de carbono nos indican que los biocombustibles poseen un factor de emisión de gases a efecto invenadero (GEI) nulo. Si consideramos el factor de emisión del gas natural, de origen fósil, estimado en 0,41 Kg CO2/KWh podemos hacer el cálculo de CO2 emitido para producir la energía estimada asumiendo que usamos esta fuente de energía fósil

In [24]:
CO2_gas = Generac_anual * 0.41
print("Emisiones de CO2 anuales ahorradas por usar biogas en vez de gas: {:.2f} T".format(CO2_gas/1000))

Emisiones de CO2 anuales ahorradas por usar biogas en vez de gas: 9413.36 T

Nos ahorramos la emisión de **9.413 toneladas** de CO2 anualmente por emplear biogas derivado de biomasa en vez de gas natural derivado de hidrocarburos.